.home {
  display: flex;
  justify-content: left;
  align-items: left;
  height: 100vh;
  width: 50vw;
  position: relative;
  &__form {
    input {
      margin-top: 8px;
      margin-bottom: 32px;
    }
    width: 400px;
    height: 300px;
  }
  &__title {
    width: 70%;
    margin-bottom: 48px;
    padding-bottom: 8px;
    border-bottom: 4px solid var(--secondary-color);
    text-transform: uppercase;
  }
  &__image {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50vw;
    z-index: -1;
  }
}

.admin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
  position: relative;
  &__form {
    ul {
      margin-top: 8px;
      margin-bottom: 32px;
    }
    width: 400px;
    height: 300px;
  }
  &__title {
    width: 70%;
    margin-bottom: 48px;
    padding-bottom: 8px;
    border-bottom: 4px solid var(--secondary-color);
    text-transform: uppercase;
  }
  &__image {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50vw;
    z-index: -1;
  }
}

.trainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
  position: relative;
  &__form {
    ul {
      margin-top: 8px;
      margin-bottom: 32px;
    }
    width: 400px;
    height: 300px;
  }
  &__title {
    width: 70%;
    margin-bottom: 48px;
    padding-bottom: 8px;
    border-bottom: 4px solid var(--secondary-color);
    text-transform: uppercase;
  }
  &__image {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50vw;
    z-index: -1;
  }
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__image {
    padding: 32px;
    img {
      width: 300px;
      margin: 0 auto;
    }
  }
  &__info {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      font-weight: bold;
      font-size: 18px;
    }
  }
  &__title {
    margin-bottom: 32px;
    font-size: 48px;
    text-align: center;
  }
  &__text {
    margin-bottom: 16px;
    text-align: center;
  }
}

.sports {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &-list__title {
    padding: 0.5rem 0;
  }

  h2 {
    margin-bottom: 2rem;
  }
}
