/* Project Fonts */
@import url('https://fonts.googleapis.com/css?family=Maiden+Orange|Roboto&display=swap');

/* Project Variables */
:root {
  /* Colors */
  --primary-color: #10A5F5;
  --secondary-color: #0C71E0;
  --tertiary-color: #0859C6;
  --white: #fff;
  --black: #323232;
  --lannister-color: #A61619;
  --tyrell-color: #1C901B;
  --stark-color: #BBBCC0;
  --greyjoy-color: #D2AE87;
  --targaryen-color: #BD3016;
  --arryn-color: #2D2647;
  --martell-color: #C66230;
  --baratheon-color: #F3D526;


  /* Fonts */
  --fontface-bold: "Maiden Orange", sans-serif;
  --fontface-regular: "Roboto", sans-serif;

  /* Breakpoints */
  --small: 20rem;
  --medium: 48rem;
  --large: 64rem;
  --x-large: 75rem;
}

/* Project Resets*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(var(--black),var(--tertiary-color) 120%);
  color: var(--white);
  font-family: var(--fontface-regular);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.15;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  font-family: var(--fontface-bold);
}

a {
  -webkit-text-decoration-skip: objects;
  background-color: transparent;
  text-decoration: none;
}

li {
  list-style: none;
}

a:visited {
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

img {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}